<h1><%= t('hello', first_name: @user.first_name) %></h1>
<p>
  <%= t('book_rented', date_rented: @rent.created_at.strftime('%Y-%m-%d')) %><br>
</p>
<p>
   <%= t('book_info') %> <br>
     <%= t('title', title: @book.title) %> <br>
     <%= t('genre', genre: @book.genre) %> <br>
     <%= t('author', author: @book.author) %> <br>
     <%= t('publisher', publisher: @book.publisher) %> <br>
     <%= t('year', year: @book.year) %> <br>
</p>
<p>
  <%= t('range_rent', from: @rent.from, to: @rent.to) %>
</p>
<%= t('bye') %><br>
