<h1><%= t('hello', first_name: @user.first_name) %></h1>
<p>
  <%= t('new_rent_mail.book_rented', date_rented: @rent.created_at.strftime('%Y-%m-%d')) %><br>
</p>
<p>
   <%= t('new_rent_mail.book_info') %> <br>
     <%= t('new_rent_mail.title', title: @book.title) %> <br>
     <%= t('new_rent_mail.genre', genre: @book.genre) %> <br>
     <%= t('new_rent_mail.author', author: @book.author) %> <br>
     <%= t('new_rent_mail.publisher', publisher: @book.publisher) %> <br>
     <%= t('new_rent_mail.year', year: @book.year) %> <br>
</p>
<p>
  <%= t('new_rent_mail.range_rent', from: @rent.from, to: @rent.to) %>
</p>
<%= t('bye') %><br>
